
<div class="header">M</div>

<div class="menu-items" *ngIf="user">
  <li [routerLink]="['view','users']" *ngIf="user.roles.isDev || user.roles.isLead">
    <img src="https://img.icons8.com/material/96/ffffff/conference-call--v2.png"/>
  </li>
  <li [routerLink]="['manage']">
    <img src="https://img.icons8.com/material/96/ffffff/compare--v1.png"/>
  </li>
</div>

<div class="menu-items low">
  <li (click)="onLogout()">
    <img src="https://img.icons8.com/material-outlined/48/ffffff/exit.png"/>
  </li>
  <li>
    <img src="https://img.icons8.com/material-outlined/48/ffffff/settings--v1.png"/>
  </li>
</div>
