:host {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  form, .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 500px;
    background-color: rgba(140, 140, 140, 0.68);
    box-shadow: 0px 0px 10px -5px;

    .inner-container {

    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: 'Nanum Myeongjo', serif;
      font-size: 50px;
      color: white;
      border-bottom: 2px solid rgb(90, 90,90);
      margin: 20px 0;

      small {
        display: block;
        font-size: 20px;
        color: #85442c;
        font-family: 'Varela Round', sans-serif;
      }
    }

    .form-field {
      display: flex;
      background-color: white;
      color: white;
      border: 2px solid transparent;
      border-radius: 15px;
      align-items: center;
      width: 100%;
      min-width: 300px;
      max-width: 300px;
      margin: 15px 0;
      font-family: 'Varela Round', sans-serif;

      &.invalid {
        border-color: #a62929;
      }

      &.valid {
        border-color: mediumseagreen;
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;

        img {
          display: block;
          height: 25px;
        }
      }

      input {
        flex: 1;
        font-family: inherit;
        border-radius: 0;
        border: none;
        background-color: transparent;
        outline: none;
        color: black;
        width: 100%;
        height: 100%;

        &::placeholder {
          color: rgb(150, 150, 150);
          font-weight: 600;
        }
      }
    }

    .buttons {
      font-family: 'Varela Round', sans-serif;
      margin-top: 15px;

      button {
        width: 150px;
        border: none;
        font-family: inherit;
        font-size: 15px;
        padding: 10px;
        border-radius: 5px;
        background-color: #3e8f38;
        box-shadow: 2px 2px 0 rgb(150, 150, 150);
        color: white;
        font-weight: 600;
        cursor: pointer;

        &[disabled] {
          background-color: grey;
        }
      }
    }
  }
}
