:host {
  height: 100vh;
  width: 100vw;
  display: flex;

  form, .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 500px;
    background-color: rgb(45, 45, 45);
    box-shadow: 0px 0px 10px -5px;

    .inner-container {
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .title {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: 'Nanum Myeongjo', serif;
      background-color: rgb(30 ,30, 30);
      font-size: 120px;
      font-weight: 600;
      color: white;
      padding: 50px 0;
      margin-bottom: 50px;
      cursor: default;

      small {
        display: block;
        font-size: 20px;
        color: #85442c;
        font-family: 'Varela Round', sans-serif;
      }
    }

    .form-field {
      display: flex;
      background-color: white;
      color: white;
      align-items: center;
      width: 100%;
      min-width: 400px;
      max-width: 400px;
      margin-bottom: 50px;
      font-family: 'Varela Round', sans-serif;
      position: relative;

      &:after {
        position: absolute;
        content: "";
        height: 5px;
        width: calc(100% - 50px);
        background-color: #427c42;
        top: 60px;
        margin-left: 50px;
        border-radius: 10px;
      }

      &.invalid {
        &:after {
          background-color: #a62929;
        }
      }

      &.valid {
        &:after {
          background-color: mediumseagreen;
        }
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(30, 30, 30);
        height: 50px;
        width: 50px;

        img {
          display: block;
          height: 25px;
        }
      }

      input {
        flex: 1;
        font-family: inherit;
        border-radius: 0;
        border: none;
        background-color: transparent;
        outline: none;
        color: black;
        width: 100%;
        height: 100%;
        padding: 0 15px;

        &::placeholder {
          color: rgb(150, 150, 150);
          font-weight: 600;
        }
      }
    }

    .buttons {
      font-family: 'Varela Round', sans-serif;
      margin-top: 15px;

      button {
        width: 150px;
        border: none;
        font-family: inherit;
        font-size: 15px;
        padding: 15px;
        border-radius: 5px;
        background-color: rgb(60, 60, 60);
        box-shadow: 0 0 0 rgb(150, 150, 150);
        color: white;
        font-weight: 600;
        cursor: pointer;

        &[disabled] {
          background-color: rgb(60, 60, 60);
        }
      }
    }
  }
}
