
<h2 class="heading">Users</h2>

<div class="users" *ngIf="user.roles.isDev || user.roles.isLead">
  <div class="user" *ngFor="let userData of users">
    <div class="section">
      <label>First Name</label>
      <input type="text" [(ngModel)]="userData.firstName">
    </div>
    <div class="section">
      <label>Last Name</label>
      <input type="text" [(ngModel)]="userData.lastName">
    </div>
    <div class="section">
      <label>Email</label>
      <input type="email" disabled="true" [(ngModel)]="userData.email">
    </div>
    <div class="section" *ngIf="user.roles.isDev">
      <label>Developer?</label>
      <select [(ngModel)]="userData.roles.isDev">
        <option [value]="false">No</option>
        <option [value]="true">Yes</option>
      </select>
    </div>
    <div class="section">
      <label>Lead?</label>
      <select [(ngModel)]="userData.roles.isLead">
        <option [value]="false">No</option>
        <option [value]="true">Yes</option>
      </select>
    </div>
    <div class="section">
      <button class="save" (click)="onSaveUser(userData)">Update User</button>
    </div>
  </div>
</div>
