
<div class="selector" *ngIf="subtitles">
  <li *ngFor="let subtitle of subtitles"
      (click)="onSelectSubtitleWorkingFile(subtitle)">
    {{subtitle.title}}
  </li>
</div>

<div class="editor">

  <div class="top-section">
    <button>English <small>(READ ONLY)</small></button>
    <button>Spanish</button>
  </div>


   <div class="internal-editor" *ngIf="workingFile">
     <div class="subtitle-section" *ngFor="let subtitle of workingFile.subtitles">
       <div class="subtitle">
         <div class="header">{{subtitle.sTimeFormatted}} <small>(READ ONLY)</small></div>
         <div class="data">
           {{subtitle.utterance}}
         </div>
       </div>
       <div class="subtitle">
         <div class="header">{{subtitle.sTimeFormatted}}</div>
         <div class="data">
           <textarea [(ngModel)]="subtitle.languages.es"></textarea>
         </div>
       </div>
     </div>
   </div>

</div>

<div class="replacer">

  <div class="header">
    <button (click)="replaceAllText()">Replace All Text</button>
  </div>

  <div class="replacer-form">
    <div class="fields">
      <div class="left">
        <input type="text" placeholder="search" [(ngModel)]="searchString">
      </div>
      <div class="right">
        <input type="text" placeholder="replace" [(ngModel)]="replacerString">
      </div>
    </div>
    <div class="bottom">
      <button (click)="addReplacement()">Add Replacement</button>
    </div>
  </div>

  <div class="replacer-form" *ngFor="let replacer of replacers; let i = index">
    <div class="fields">
      <div class="left">
        <input type="text" placeholder="search" [(ngModel)]="replacer.search[0]">
      </div>
      <div class="right">
        <input type="text" placeholder="replace" [(ngModel)]="replacer.replacers[0]">
      </div>
    </div>
    <div class="bottom">
      <button class="delete" (click)="removeReplacer(i)">Delete</button>
    </div>
  </div>

</div>
