
<div class="selector" *ngIf="subtitles && user">

  <!-- Get Training Data For Model -->
  <li *ngIf="user.roles.isDev" (click)="onGetTrainingData()">Get Training Data</li>

  <!-- Each Subtitle -->
  <li *ngFor="let subtitle of subtitles"
      (click)="onSelectSubtitleWorkingFile(subtitle)"
      [class]="{'disabled': ((!user.roles.isDev && !user.roles.isLead) && subtitle.assignedTo != user.email)}">
    {{subtitle.title}}
    <small *ngIf="subtitle.assignedTo">{{subtitle.assignedTo}}</small>
    <small *ngIf="!subtitle.assignedTo">Unassigned</small>
    <select [disabled]="(!user.roles.isDev || !user.roles.isLead)" [(ngModel)]="subtitle.taskStatus" (change)="saveFile()">
      <option>Select Status</option>
      <option value="0">Not Started</option>
      <option value="1">English Translation Pending</option>
      <option value="2">English Translation Complete</option>
      <option value="3">Spanish Translation Pending</option>
      <option value="4">Spanish Translation Complete</option>
      <option *ngIf="user.roles.isLead" value="5">Task Complete</option>
    </select>
  </li>

</div>

<div class="view-area">
  <router-outlet></router-outlet>
</div>

